#header {
    background-color: white;
    box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.35);
    top: 0px;
    z-index: 99;
}

.navbar-footer-logo {
    max-height: 70px;
}

* {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
}

.single-card-body p,
.single-card-body a,
.single-card-body button {
    font-size: 14px;
}

#footer {
    background-color: #353535;
    box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.35);
    max-height: 80px;
    bottom: 0px;
    z-index: 99;
}

#full-page-spinner {
    height: 82vh;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 98;
}

#card-list {
    z-index: 97;
}

button {
    font-size: 16px!important;
}

button {
    border-radius: 14px!important;
}

.type-badge-singlecard {
    width: 50%!important;
    font-size: 8px!important;
}

.type-badge.type-badge-singlecard,
.type-badge {
    border-radius: 14px!important;
}

.type-badge,
.type-badge0,
.type-badge1 {
    width: 125px;
}

.type-badge0 {
    border-radius: 14px 0 0 14px!important;
    border-right: 1px solid white;
}

.type-badge1 {
    border-radius: 0 14px 14px 0!important;
}

#catch-or-release-button {
    width: 250px;
}

#pokemon-details-height-and-weight {
    width: 250px;
    box-sizing: content-box;
}

#search-pokemon-input {
    width: 100%;
}

@media screen and (min-width: 576px) {
    #search-pokemon-input {
        width: 300px;
    }
}